
{% macro contentSections(sections) %}

  {% for section in sections %}
    

    {% if section._type == 'rteSection' %}
      {% include "sections/rte-section.html" %}
    {% endif %}
    {% if section._type == 'ctaSection' %}
      {# {% include "sections/cta-section.html" %} #}
    {% endif %}
    {% if section._type == 'magSection' %}
      {# {% include "sections/mag-section.html" %} #}
    {% endif %}
    {% if section._type == 'tableSection' %}
      {# {% include "sections/table-section.html" %} #}
    {% endif %}
    {% if section._type == 'cardSection' %}
      {# {% include "sections/card-section.html" %} #}
    {% endif %}
    {% if section._type == 'faqSection' %}
      {# {% set qaSectionCounter = qaSectionCounter + 1 %} #}
      {# {% include "sections/faq-section.html" %} #}
    {% endif %}
    {% if section._type == 'menuSection' %}
      {# {% include "sections/menu-section.html" %} #}
    {% endif %}
    {% if section._type == 'reusedSection' %}
      {# {% include "sections/reusable-section.html" %} #}
    {% endif %}

  {% endfor %}

{% endmacro %}