{% extends "sections/common/cards-section.html" %}
{% set darkSection = true %}

{% block sectionTitle %}
  <h2><span class="headline__accent">{{section.title1}}</span> {{section.title2}}</h2>
  {% if section.text %}
    {{section.text | blocksToMarkdown | markdownify | safe}}
  {% endif %}
  {# <script>console.log('sdadsa', {{siteStaffPage.content.staffList | dump | safe}})</script> #}
  
{% endblock %}

{% block sectionCards %}
  {% for card in section.staffList %}
      {% include "partials/staff-card.html" %}
  {% endfor %}

{% endblock %}


{% block sectionButtons %}

  {% for button in section.buttons %}
    <a class="[ button button--accentDark ]" href="{{button.url}}"><span>{{button.text}}</span></a> 
  {% endfor %}
  
{% endblock %}

