<div class='testimonialsSection [ section ]'>
    <div class="[ wrapper flow ]">
        <h2>Ce spun <span class="headline__accent">cursanții</span></h2>
        <div class="grid">

        {% for item in section.testimonials %}
                
            <div class='gridItem card card__white [ flow box-600 ]'>
                <img src='{% croppedUrlFor item.image, 200, 200 %}' class='avatar' alt="{{item.authorTitle}}}" />
                <p>“{{item.text}}”
                </p>
                <div>
                    <h3>{{item.authorName}}</h3>
                    <p class='[ color-primary ] upperCaseText text-300' style="font-weight: bold;">{{item.authorTitle}}</p>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>