.cubes {
  position: absolute;
  width: 617px;
  height: 560px;
  background: url(../images/home/cubes.svg) no-repeat top left;
  background-size: 100%;
  bottom: -427px;
  right: 0;
  z-index: 100;
}