.section {
  padding: 120px 0;
  position: relative;

  &:after {
      display: block;
      content: "";
      clear: both;
  }
  
}

.section__skewed {
  position: relative;
  padding-bottom: 12.5rem;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 130%;
    position: absolute;
    background: linear-gradient(239.77deg, #00949A 13.66%, #005B61 86.53%);
    z-index: -10;
    bottom: -300px;
    transform-origin: left bottom;
    transform: skewY(-21deg);
  }
}