/**
 * WRAPPER
 * Sets a max width, adds a consisten gutter and horizontally
 * centers the contents
 */
.wrapper {
  max-width: 100rem; // was 70 originally
  padding: 0 0.9375rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
  &--full-bleed-mobile {
    padding: 0;
    
    @include media-query('md') {
      padding: 0 get-size('500');
    }
  }

  &--full-bleed-tablet {
    padding: 0!important;
    
    @include media-query('lg') {
      padding: 0 get-size('500');
    }
  }
}
