{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/page.css'] %}

{% from 'components/page-header.html' import pageHeader %}
{% from 'components/content-sections.html' import contentSections %}

{# <script>console.log({{sitePage.content | dump | safe}})</script> #}

{% block headerScripts %}
  <link title="timeline-styles" rel="stylesheet" href="/js/timeline/css/timeline.css">
  <script src="/js/timeline/js/timeline.js"></script>

  <script type="text/javascript" src="//unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>
  <link href="//unpkg.com/vis-timeline@latest/styles/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block underHeader %}
  {{pageHeader(title)}}
{% endblock %}

{% block content %}
  
  <section>
    <div class="wrapper flow gap-top-900">

      {# <script>console.log({{siteCourseSessionsTimeline | dump | safe}})</script> #}

      <div>
        {% for item in siteCourseSessionsTimeline %}
          {{item}}
        {% endfor %}
      </div>

      <div id='timeline-embed' style="width: 100%; height: 600px"></div>
    </div>
  </section>

  {{contentSections(sitePage.content.sections.sections)}}
  <style type="text/css">
    #visualization {
      width: 100%;
      height: 400px;
      border: 1px solid lightgray;
    }
  </style>
  <div id="visualization"></div>
  
{% endblock %}

{% block footerScripts %}
  <script type="text/javascript">
    // The TL.Timeline constructor takes at least two arguments:
    // the id of the Timeline container (no '#'), and
    // the URL to your JSON data file or Google spreadsheet.
    // the id must refer to an element "above" this code,
    // and the element must have CSS styling to give it width and height
    // optionally, a third argument with configuration options can be passed.
    // See below for more about options.

    var additionalOptions = {
        language: 'ro',
        scale_factor: 1
    }

    var timelineJsJSON = {{siteCourseSessionsTimeline | dump | safe}}

    timeline = new TL.Timeline('timeline-embed', timelineJsJSON, additionalOptions);

    
  </script>

  <script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var items = new vis.DataSet([
    {id: 1, content: 'item 1', start: '2014-04-20'},
    {id: 2, content: 'item 2', start: '2014-04-14'},
    {id: 3, content: 'item 3', start: '2014-04-18'},
    {id: 4, content: 'item 4', start: '2014-04-16', end: '2014-04-19'},
    {id: 5, content: 'item 5', start: '2014-04-25'},
    {id: 6, content: 'item 6', start: '2014-04-27', type: 'point'}
  ]);

  // Configuration for the Timeline
  var options = {};

  // Create a Timeline
  var timeline = new vis.Timeline(container, items, options);
</script>
{% endblock %}