{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
<div class='homeWrapper'>
  <div class='heroBg'></div>
  <div class='innerHomeWrapper'>
    {% include "partials/hero.html" %}
    {% include "partials/courses.html" %}
    {% include "partials/staff.html" %}
    {% include "partials/testimonials.html" %}
    {% include "partials/cta-section.html" %}
    {% include "partials/location.html" %}
    {% include "partials/news.html" %}
  </div>
</div>

<!--
  <div class="wrapper">
    <article>
      <h1 class="headline" data-color="secondary-light">{{ title }}</h1>
        {{ content | safe }}  
    </article>
  </div>

  <div class="[ hero ] [ flow ]">
  <h2>header</h2>
  <p>lorem daskndjoaksnd asjnd lkasnd;a</p>
  <button>Button</button>
  </div>
  -->
{% endblock %}