.button {
  display: inline-block;
  border-radius: 28px;
  padding: 10px 25px;
  text-decoration: none;
  border: 0;
  box-shadow: -10px -10px 25px -10px rgba(222, 238, 239, 0.20307), 20px 20px 25px -10px rgba(1, 54, 57, 0.25112);
  font-size: 15px;
  margin: 0 15px 0 0;

  &:last-child {
    margin: 0;
  }

  &--light {
    background: get-color('primary-glare');
    color: get-color('primary');
  }

  &--primary {
    background: linear-gradient(225deg, get-color('accent-glare') 0%, get-color('accent') 100%);
    color: get-color('light-glare');
  }
}