.card {
  box-shadow: 0px 50px 50px -20px rgba(1, 54, 57, 0.254698);
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
  font-size: .7em;
  line-height: 1.7em;

  h3 {
      font-size: 1.4em;
  }

  &.whiteCard {
      background-color:get-color('light');
      color: get-color('dark');
  }
  &.colorCard {
      background: linear-gradient(239.77deg, #00949A 13.66%, #005B61 86.53%);
      color:rgba(get-color('light-glare'), 0.6);

      
  }
}