.coursesSection {
        .cursesRight {
        width: 60%;
        float: right;
        .card {
            &:first-child {
                margin-right: 17%;
            }
            &:last-child {
                margin-left: 17%;
            }
            ul {
                padding-left: 20px;
            }
    
            & h3 span {
                display: block;
                font-size: .6em;
                font-weight: 400;
                text-transform: uppercase;
                line-height: 2.6em;
                letter-spacing: 1px;
    
            }
            
            &.colorCard h3 span {
                
                color:rgba(get-color('light-glare'), .4);
            }
    
            &.colorCard h3, &.colorCard .cardFooterLeft strong {
                color:rgba(get-color('light-glare'), 1);
            }
    
        }
    
        
    }
}

@media screen and (max-width: 850px) {    
    .coursesSection  .columnLeft {
        width: 80%;
    }
    .coursesSection .cursesRight {
        width: 100%;
        float: none;
        clear: both;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2%;
        
        .card {
            padding-bottom: 6rem;
            &:first-child {
                margin-right: 0; 
            }
            &:last-child {
                margin-left: 0; 
            }

            .cardFooter {
                position: absolute;
                bottom: 1.7rem;
                right: 1.7rem;
                left: 1.7rem;
                

            }
        }
        
    }
}
@media screen and (max-width: 760px) {    
    .coursesSection .cursesRight {        
        .card {
            &:first-child {
                margin-right: 0; 
            }
            &:last-child {
                margin-left: 0; 
            }

            

            
        }
        
    }
}

@media screen and (max-width: 760px)  and (min-width: 501px){
    .coursesSection .cursesRight .card {
        padding-bottom: 8rem;
    }
    .cardFooter {
        text-align: center;
        .cardFooterLeft, & .pull-right {
            float: none;
        }
    }

}
@media screen and (max-width: 500px) {    
    .coursesSection .cursesRight {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }
}
