.cta-section {
  padding: get-size('xl') 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  &__left {
  }

  &__right {
    text-align: right;
    flex: 1;
  }
}