.heroBg {
    position: absolute;
    width: 100%;
    background: url(../images/home/Polygon.svg) no-repeat 90% 0;
    /* margin: 0 auto; */
    overflow: hidden;
    background-size: cover;
    height: 900px;
    top: 0;
    min-width: 1600px;
    /* margin-left: -800px; */
    right: 0;
    width: 100%;
  }
.hero {
  color: #fff;
  padding-top: 8vh !important;

  
  .heroContent {
      position: relative;
      z-index: 2;
  }
  
  &__wrapper {
    background: url(../images/home/hero_gray_bg.svg) no-repeat 0 -220px;
  }

  &__image {
      background: url(../images/home/hero.png) no-repeat top left;
      $width: 70%;
      width: $width;
      padding-bottom: ($width * 0.94);
      background-size: 100% auto;
      float: right;
      margin-right: -10%;
    }

  h3 {
      font-weight: 400;
      line-height: 1.8em;
      font-size: 1em;

    strong {
      font-size: 1.2em;
      display: block;
    }
  }
}

@media screen and (max-width: 1200px) {
    .hero {
        padding-bottom: 7rem;
    }
}
@media screen and (max-width: 1050px) {
    .hero .columnLeft {
        width: 50%;
        position: relative;
    }
    .hero__image {
        margin-right: -20%;
    }
}
@media screen and (max-width: 800px) {
    .hero__image {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 0;
        opacity: .3;
        width: 100%;
        padding-bottom: 88%;
    }
    .hero .columnLeft {
        width: 80%;
    }
    .ball {
        right: -8rem;
        margin-left: 0;

    }
    .hero {
        padding-bottom: 9rem;
    }
}