
.hero {
  color: #fff;
  padding-top: 8vh !important;
  
  &__wrapper {
    background: url(../images/home/hero_gray_bg.svg) no-repeat 0 -220px;
  }

  &__image {
      background: url(../images/home/hero.png) no-repeat top left;
      $width: 70%;
      width: $width;
      padding-bottom: ($width * 0.94);
      background-size: 100% auto;
      float: right;
      margin-right: -10%;
    }

  h3 {
      font-weight: 400;
      line-height: 1.8em;
      font-size: 1em;

    strong {
      font-size: 1.2em;
      display: block;
    }
  }
}