.location {
    padding-bottom: 0;
    background-color: #eaeeee;
    padding-top: get-size('major');

  &__info {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  &__left, &__right {
    padding-bottom: get-size('900');
  }
  iframe {
      margin-bottom: -0.5rem;
  }
}

