
$mobileMenuItemBorder: 1px solid rgba(get-color('secondary'), 0.3);
$heading-height: 100px;

.site-head {
  padding-top: get-size('major');
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: get-size('600');
  
  &__logo{
    margin-right: auto;
  }
  
  & nav {
    width: 100%;

    // from tut
    position: fixed;
    height: calc(100vh - #{$heading-height});
    top: $heading-height;
    left: 0;
    background-color: get-color('light-glare');
    // overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
    border-top: $mobileMenuItemBorder;
    z-index: 100;
    
    &[data-open="true"]{
      transform: translateX(0);
    }

    @include media-query('lg') {
      border-top: none;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      position: static;
      background-color: transparent;
      height: auto;
      transform: translateX(0);
      overflow-x: visible;
      overflow-y: visible;
      transition: none;
    }
  }

  &__cta {
    margin-left: get-size('400')!important;
  }

  &__menu {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 100%;

    & li {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
     }

    & li a {
      display: block;
      padding: get-size('400');
      text-align: center;
      font-size: get-size('500');
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-bottom: $mobileMenuItemBorder;
    }
  
    @include media-query('lg') {
      
      & li {
        width: auto;
        display: inline-block;
        & a {
          display: inline-block;
          border-radius: 28px;
          padding: 10px 25px;
          font-size: get-size('400');
          text-decoration: none;
          color: #fff;
    
          &:hover {
            background: #B4D9DB;
            box-shadow: -10px -10px 25px -10px rgba(222, 238, 239, 0.20307), 20px 20px 25px -10px rgba(1, 54, 57, 0.25112);
            color: #015B60;
           }
        }
        
      }
    }
  }

}


