.footer {
  background: #161A1B;
  padding-top: get-size('900');
  color: #fff;
  line-height: 1.8em;
  font-size: get-size('350');

  & .logo {
    display: inline-block;
  }
  
  .footerDescription {
    opacity: .6;
  }

  h4 {
    font-size: get-size('500');
    margin-bottom: get-size('400');
    margin-top: get-size('600');

    @include media-query('md') {
      margin-top: 0;
    }
  }

  .pull-right {
      text-align: right;
  }

  &__grid {
    padding-top: get-size('600');
    
    @include media-query('md') {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      grid-gap: get-size('400');
    }

    & ul li {
      margin-bottom: get-size('400');
    }
  }

  &__copyright {
    background-color: rgba($color: get-color('dark'), $alpha: 0.3);
    margin-top: get-size('800');
    color: get-color('light');
    padding: get-size('400') 0;
    font-size: get-size('350');
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}