.staffSection {
    text-align: center;

    &__wrapper {
        margin-top: get-size('800');
        margin-bottom:  get-size('800');

        & > div {
            position: relative;
            padding-top: get-size('800');
            margin-top: get-size('800');
        }


        & img  {
            width: 110px;
            position: absolute;
            top: -55px;
            left: 50%;
            margin-left: -55px;
            box-shadow: 0px 50px 50px -20px rgba(1, 54, 57, 0.254698);
            border-radius: 50%;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: get-size('330');
        font-weight: bold;
        letter-spacing: 1px;
    }
}