.staffSection {
    text-align: center;
    padding-bottom: 10rem;

    &__wrapper {
        margin-top: get-size('800');
        margin-bottom:  get-size('800');

        & > div {
            position: relative;
            padding-top: get-size('800');
            margin-top: get-size('800');
        }


        & img  {
            width: 110px;
            position: absolute;
            top: -55px;
            left: 50%;
            margin-left: -55px;
            box-shadow: 
                0px 30px 30px -10px rgba($color: #006268, $alpha: 0.30),
                0px 0px 30px 0 rgba($color: #006268, $alpha: 0.50)
            ;
            border-radius: 50%;
        }
    }

    &__title {
        text-transform: uppercase;
        font-size: get-size('300');
        font-weight: 700;
        letter-spacing: 2px;
        color: #00b0b6;
    }
}