.testimonialsSection {
  padding-top: 300px !important;
  padding-bottom: 200px !important;
  background: url(../images/home/testimonials_bg.svg) no-repeat bottom center;
  .grid {
    
    @include media-query('lg') {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 100px;
        grid-gap: get-size('400');
    }
  }

  .gridItem {
      margin-bottom: get-size('400');
    .avatar {
      padding: 0;
      width: 64px;
      left: 40px;
      margin-left: 0;
      top: -32px;
    }
     p:not(.color-accent) {
       font-style: italic;
     }
     .color-accent {
       margin-top: 0;
     }
  }
}
