<div class="containers">
    <div class="cursesRight">
        <div class="card whiteCard [ flow ]">
            <h3>Architectura &amp; Design Interior
                <span>Da viata proiectelor tale</span>
            </h3>
            <ul>
                <li>Invata sa comunici vizual cu clientii prin imagini 3D ale proiectelor tale</li>
                <li>Principiile teoretice si skill-urile practice</li>
                <li>Cum sa lucrezi rapid si eficient</li>
            </ul>
            <div class='cardFooter'>
                <a class="callToAction colorButton pull-right" href="#">Detailii &amp; Inscrieri</a>
                <div class="cardFooterLeft">Incepand de la<br /><strong>1000 RON</strong></div>
            </div>
        </div>
        <div class="card colorCard  [ flow ]">
            <h3>3D Game Design
                <span>LEVEL UP YOUR 3D Skills</span>
            </h3>
            <ul>
                <li>Modelare &amp; sculptare</li>
                <li>Rigging &amp; animatie</li>
                <li>Texturare &amp; renderizare</li>
                <li>Optimizare pentru performanta</li>
            </ul>
            <div class='cardFooter'>
                <a class="callToAction colorButton pull-right" href="#">Detailii &amp; Inscrieri</a>
                <div class="cardFooterLeft">Incepand de la<br /><strong>1000 RON</strong></div>
            </div>
        </div>
    </div>
    <div class="columnLeft">
        <h2>Cursuri Design 3D</h2>
        <p>Pentru orice nivel</p>
        <ul>
            <li>Adaptate oricarui nivel de cunostinte </li>
            <li>Pentru începatori, avansati sau experți </li>
            <li>Dureaza 4-8 saptamani </li>
            <li>4 ore de practica asistata / sapt. </li>
            <li>4 ore de teorie clar explicata / sapt.</li>
        </ul>
        <div>
            <p>plata în rate disponibilă</p>
            <p>0743 437 074</p>
        </div>
    </div>
</div>