<div class='coursesSection [ section ]'>
    <div class="[ wrapper ]">        
        <div class="[ flow columnLeft gap-top-600 ]">
            <h2>Cursuri Design 3D</h2>
            <h3 class="[ color-primary ]">Pentru orice nivel</h3>
            <ul>
                <li>Adaptate oricarui nivel de cunostinte </li>
                <li>Pentru începatori, avansati sau experți </li>
                <li>Dureaza 4-8 saptamani </li>
                <li>4 ore de practica asistata / sapt. </li>
                <li>4 ore de teorie clar explicata / sapt.</li>
            </ul>
            <div>
                <p class="upperCaseText"><span>plata în rate disponibilă</span><br />
                <strong>0743 437 074</strong></p>
            </div>
        </div>

        <div class="coursesRight">
            <div class="card card__primary [ flow ]">
                <h3>Architectura &amp; Design Interior
                    <span>Da viata proiectelor tale</span>
                </h3>
                <ul>
                    <li>Invata sa comunici vizual cu clientii prin imagini 3D ale proiectelor tale</li>
                    <li>Principiile teoretice si skill-urile practice</li>
                    <li>Cum sa lucrezi rapid si eficient</li>
                </ul>
                <div class='cardFooter'>
                    
                    <div class="cardFooterLeft upperCaseText"><span>Incepand de la</span><br /><strong>1000 RON</strong></div>
                    <a class="[ button button--primary ] [ pull-right ]" href="#">Detalii &amp; Inscrieri</a>
                </div>
            </div>
            <div class="card card__white [ flow ]">
                <h3>3D Game Design
                    <span>LEVEL UP YOUR 3D Skills</span>
                </h3>
                <ul>
                    <li>Modelare &amp; sculptare</li>
                    <li>Rigging &amp; animatie</li>
                    <li>Texturare &amp; renderizare</li>
                    <li>Optimizare pentru performanta</li>
                </ul>
                <div class='cardFooter'>
                   
                    <div class="cardFooterLeft upperCaseText"><span>Incepand de la</span><br /><strong>1000 RON</strong></div>
                     <a class="[ button button--primary ] [ pull-right ]" href="#">Detalii &amp; Inscrieri</a>
                </div>
            </div>
        </div>
    </div>
</div>