<div class='heroSectionWrapper'>
     <div class="hero containers [ flow ] section">
          <div class="heroImage">

          </div>
          <div class="columnLeft [ flow ]">
               <h1 class="headline">Instruire 3DS Max.</h1>
               <h3><span>De la experti locali din TM, in persoana, pentru…</span>
               <strong>Designeri de Interior |</strong>
               <h3>
               <div>
                    <a class="callToAction colorButton" href="#">Lista Cursuri</a><a class="callToAction whiteButton"  href="#">Lista Cursuri</a>
               </div>
          </div>
          <div class="ball"><img src="images/home/bilah.svg" /></div>
     </div>
</div>