<div class='hero__wrapper'>
     <div class="hero [ section wrapper flow ]">
          
          <div class='heroContent'>
               <div class="hero__image" data-aos="fade-up" data-aos-delay="200"></div>
               <div class="[ columnLeft flow gap-top-600 ]" data-aos="fade-right" >
                    <h1 class="headline">Instruire <br/> 3DS Max</h1>
                    <h3>
                         <span class="text-600">De la experți locali din TM, in persoană, pentru:</span>
                         <strong class="visually-hidden">Designer de Interior.</strong>
                         <strong class="hero__typeIt" id="typeIt"></strong>
                    </h3>
                    <div>
                         <a class="[ button button--accentDark ]" href="#"><span>Lista Cursuri</span></a><a class="[ button button--light ]"  href="#"><span>Inscrie-te</span></a>
                    </div>
               </div>
          </div>
          <div class="[ ball ]"></div>
     </div>
</div>