
<div class="hero containers [ flow ]">
     <div class="heroImage">

     </div>
     <div class="columnLeft [ flow ]">
          <h1 class="headline">Instruire 3DS Max.</h1>
          <p>De la experti locali din TM, in persoana, pentru…<br />
          <strong>Designeri de Interior</strong>
          </p>
          <div>
          <a class="callToAction colorButton" href="#">Lista Cursuri</a><a class="callToAction whiteButton"  href="#">Lista Cursuri</a>
          </div>
     </div>
     <div class="ball"><img src="images/home/bilah.svg" /></div>
</div>