<div class='section newsSection'>
    <div class="containers [ flow ]">
    <a class="callToAction whiteButton pull-right" href="#">Detalii Locatie</a>
        <h2>Noutăți</h2>

        <div class="gridWrapper">
            <div class='gridItem card whiteCard [ flow ]'>
                <img class='fullsize' src='../images/home/image4.jpg' />
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
            <div class='gridItem card whiteCard [ flow ]'>
                <img class='fullsize' src='../images/home/image1.jpg' />
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
            <div class='gridItem card whiteCard [ flow ]'>
                <img class='fullsize' src='../images/home/image2.jpg' />
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
        </div>
    </div>
</div>