<footer class="footer">
  <div class='[ wrapper ]'>
  <div class='[ pull-right ]'>
    <p class="upperCaseText"><span>plata în rate disponibilă</span><br />
      <strong><a href="tel:0743437074">0743 437 074</a></strong></p>
    </div>

    <a href="/" class="logo"><img src="/images/home/logo.png" /></a>
    
      
      <div class='footer__grid'>

        <div class='footerDescription [ flow ]'>
          <p>Tridia este singurul furnizor de cursuri 3D din Timișoara care se specializeaza in instruire practica in persoana pentru Arhitecti, Designeri de Interiori si Game Developeri.</p>
          <p><a href="mailto:info@tridia.ro">info@tridia.ro</a></p>
          <p>s.c. ASL Mus-Mus s.r.l. <br>
            Str.Surorile Martir Caceu, Nr.9 <br>
            Timișoara, Timis 300585
          </p>
        </div>
      
        <div>
          <h4 class="[ color-primary ]">Cursuri</h4>
          <ul>
            <li><a href="#">Pentru Arhitectura</a></li>
            <li><a href="#">Pentru Design Interior</a></li>
            <li><a href="#">Pentru Game Design</a></li>
          </ul>
        </div>
        <div>
          <h4 class="[ color-primary ]">Despre Noi</h4>
          <ul>
            <li><a href="#">Noutati</a></li>
            <li><a href="#">Echipă</a></li>
            <li><a href="#">Istoria Noastră</a></li>
            
          </ul>
        </div>
        <div>
          <h4 class="[ color-primary ]">Info Utile</h4>
          <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Termeni și Condiții</a></li>
            <li><a href="#">Politică de Confidențialitate</a></li>
            <li><a href="#">GDPR</a></li>
          </ul>
        </div>
      </div>
    </div>
    
 </div>

 <div class="footer__copyright">
  <div class="wrapper">
    <p>©Tridia 2020. Toate drepturile rezervate.</p>
    <p>Website &amp; Branding: <a href="https://studiorovst.com">Studio ROvST</a></p>
  </div>
 </div>
</footer>