<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>

<header role="banner" class="site-head [ wrapper ]" x-data="{ mainMenuisOpen: false }">
    
  <div class="site-head__logo">
    <img src="images/home/logo.png"/>
  </div>


  <nav 
    aria-label="Main Menu"
    x-bind:data-open="mainMenuisOpen" 
    :aria-expanded="mainMenuisOpen"
  >
    <ul class="site-head__menu">
      {% for navItem in nav %}
          <li><a href="{{ navItem.url }}"><span>{{ navItem.name }}</span></a></li>
          {% endfor %}
    </ul>

  </nav>
    <a href="#" class="[ site-head__cta button button--accentDark ] [ pull-right ]"><span>Inscriere</span></a>

  {# MOBILE MENU TOGGLE #}
    <div class="hamburger-menu__container">
        <button 
          aria-controls="nav-list" 
          aria-label="Main Menu toggle" 
          :aria-expanded="mainMenuisOpen" 
          class="hamburger-menu"  
          @click.prevent="mainMenuisOpen = !mainMenuisOpen" 
          x-bind:data-open="mainMenuisOpen" 
          >
            <div></div>
        </button>
    </div>
  {# END MOBILE MENU TOGGLE #}
  
</header>