<footer class="footer">
  <div class='site-footer section'>
    <div class='containers'>
        <div class='footerColumnRight'>
            <div class='pull-right'>
                <p class="upperCaseText"><span>plata în rate disponibilă</span><br />
                <strong>0743 437 074</strong></p>
            </div>
            <div class='footerGrid'>
                <div>
                    <h4 class="primaryColorText">Cursuri</h4>
                    <ul class='footerMenu'>
                        <li><a href="#">Pentru Arhitectura</a></li>
                        <li><a href="#">Pentru Arhitectura</a></li>
                        <li><a href="#">Pentru Arhitectura</a></li>
                    </ul>
                </div>
                <div>
                    <h4 class="primaryColorText">Despre Noi</h4>
                    <ul class='footerMenu'>
                        <li><a href="#">Noutati</a></li>
                        <li><a href="#">Noutati</a></li>
                        <li><a href="#">Noutati</a></li>
                        
                    </ul>
                </div>
                <div>
                    <h4 class="primaryColorText">Info Utile</h4>
                    <ul class='footerMenu'>
                        <li><a href="#">Pentru Arhitectura</a></li>
                        <li><a href="#">Pentru Arhitectura</a></li>
                        <li><a href="#">Pentru Arhitectura</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='columnLeft [ flow ]'>
            <img src="images/home/logo.png" />
            <p class='footerDescription'>Tridia este singurul furnizor de cursuri 3D din Timișoara care se specializeaza in instruire practica in persoana pentru Arhitecti, Designeri de Interiori si Game Developeri.</p>
            <p>info@tridia.ro</p>
            <p>s.c. ASL Mus-Mus s.r.l.
                Str.Surorile Martir Caceu, Nr.9
                Timișoara, Timis 300585
                </p>

        </div>
    </div>
  </div>
</footer>