<div class="staffSection [  section__skewed ]">
    <div class="[ wrapper flow ]">
        <h2>Profesori experti si pasionati</h2>
        <h3 class="color-accent">scopul nostru</h3>
        <p>transmiterea pasiunii noastre pentru grafica 3D profesionistilor care pot beneficia de designul 3D in propria lor cariera </p>

        <div class="gridWrapper">
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image4.jpg'  class='avatar' />
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image1.jpg' class='avatar' />
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image2.jpg' class='avatar' />
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image3.jpg' class='avatar' />
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
            </div>

        </div>
        <a class="[ button button--primary ]" href="#">Detalii despre profesori</a>
    </div>
    <div class="cubes"></div>
</div>