<div class='testimonialsSection [ section ]'>
    <div class="[ wrapper flow ]">
        <h2>Ce spun <span class="headline__accent">cursanții</span></h2>
        <div class="gridWrapper">
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image4.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>Designer Interior, West Concept</p>
                
            </div>
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image1.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>Designer Interior, West Concept</p>
            </div>
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image2.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>Designer Interior, West Concept</p>
            </div>

        </div>
    </div>
</div>
<div class="testimonialsBanner [ wrapper ]">
    <div class="card card__primary  [ flow ] ">
        <div class='rightColumn'>
            <a class="[ button button--primary ]" href="#">Detalii &amp; Inscrieri</a>
            <a class="[ button button--light ]" href="#">Detalii &amp; Inscrieri</a>
            
        </div>
        <h2>Cursuri pentru orice nivel</h2>
        <h3>Începator sau profesionist, iți oferim ocazia de a învata lucruri noi!</h3>
    </div>
</div>
