<div class='testimonialsSection [ section ]'>
    <div class="[ wrapper flow ]">
        <h2>Ce spun <span class="headline__accent">cursanții</span></h2>
        <div class="grid">

            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image4.jpg' class='avatar' />
                <p>“Am parcurs toate modulele oferite. M-au ajutat extrem de mult sa-mi formez o gandire logica in modelare, texturare si randare. Mi s-au pus niste baze extrem de bune pentru ceea ce urmeaza sa fac. Mult profesionalism, atentie la detalii si o indrumare minutioasa. Felicitari!”
                </p>
                <h3>Christina Blaga</h3>
                <p class='[ color-primary ] upperCaseText'>Designer Interior, West Concept</p>
            </div>

            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image1.jpg' class='avatar' />
                <p>“Clase profi si atentie la detaiu in modelarea 3D  5 stele, recomand categoric celor care vor sa invete arta modelarii 3D.”
                </p>
                <h3>Alex Nan</h3>
                <p class='[ color-primary ] upperCaseText'>Student, Politehnica Timișoara</p>
            </div>
            
            <div class='gridItem card card__white [ flow ]'>
                <img src='../images/home/image2.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='[ color-primary ] upperCaseText'>Designer Interior, West Concept</p>
            </div>

        </div>
    </div>
</div>