<div class='testimonialsSection section'>
    <div class="containers  [ flow ]">
        <h2>Ce spun cursanții</h2>
        <div class="gridWrapper">
            <div class='gridItem card whiteCard [ flow ]'>
                <img src='../images/home/image4.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
                
            </div>
            <div class='gridItem card whiteCard [ flow ]'>
                <img src='../images/home/image1.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
            </div>
            <div class='gridItem card whiteCard [ flow ]'>
                <img src='../images/home/image2.jpg' class='avatar' />
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                </p>
                <h3>Gigi Duru</h3>
                <p class='primaryColorText upperCaseText'>INSTRUCTOR GAME DESIGN</p>
            </div>

        </div>
    </div>
</div>
<div class="containers testimonialsBanner">
    <div class="card colorCard  [ flow ] ">
        <div class='rightColumn'>
            <a class="callToAction colorButton" href="#">Detalii &amp; Inscrieri</a>
            <a class="callToAction whiteButton" href="#">Detalii &amp; Inscrieri</a>
            
        </div>
        <h2>Cursuri pentru orice nivel</h2>
        <h3>Începator sau profesionist, iți oferim ocazia de a învata lucruri noi!</h3>
    </div>
</div>
